.variant {
    margin-top: 1.85rem;
}

.variant-btn {
    border-radius: 5px;
    background-color: #28a745;
    color: whitesmoke;
    border:none;
}

.variant-btn-success:hover {
    background-color: #208136;
}